@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #c26262;
    --cor-vazio:red;

    --fonte-primaria: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

img{
    border:2px solid var(--cor-terciaria);
    border-radius: 5px;
    vertical-align:middle;
}

.cabecalho{
    padding: 2% 0% 0% 2%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: var(--fonte-primaria);
    font-size: 30px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    color: var(--cor-hover);
}

.cabecalho__menu__link_PDFs{
    font-family: var(--fonte-primaria);
    font-size: 30px;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
    border: 2px solid var(--cor-terciaria);
    border-radius: 5px;
    border-width: 100%;
    padding: 5px 5px 5px 5px;
}

.cabecalho__menu__link_PDFs:hover{
    color: var(--cor-hover);
}

.materiais{
    padding: 5% 5%;
    font-family: var(--fonte-primaria)
}

.materiais__materia{    
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
    text-align: center;
    color: var(--cor-secundaria); 
    border: 2px solid var(--cor-terciaria);
    border-radius: 5px;
    border-width: 100%;
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: var(--fonte-primaria);
}

.materiais__materia__aula{
    color: var(--cor-secundaria);
    margin-top: 10px;
    border-width: 1px;
}

.materiais__materia__aula__links{
    display: flex;
    justify-content:left;
    align-items:self-end;
    gap: 10px;
    margin-top: 10px;
}



body{
    background-color: var(--cor-primaria);
    box-sizing: border-box;
}

.materiais__materia__aula__links__link{
    display: flex;
    justify-content: CENTER;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: max-content;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
}

.materiais__materia__aula__links_FQ{
    display: flex;
    flex-direction: column;
    justify-content: CENTER;
    gap: 16px;
    width: max-content;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
}

.materiais__materia__aula__links__link:hover{
    color: var(--cor-hover);
}

#vazio{
    color:var(--cor-vazio);
    text-decoration:line-through;
    display: flex;
    justify-content: CENTER;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: max-content;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    font-family: var(--fonte-primaria);
}

.materiaVazia{
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
    text-align: center;
    color: var(--cor-vazio); 
    border: 2px solid var(--cor-terciaria);
    border-radius: 5px;
    border-width: 100%;
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: var(--fonte-primaria);
    text-decoration:line-through;
}

#vazio:hover{
    color: var(--cor-secundaria);
}

h1{
    margin-top: 60px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
}